*{
    font-family: "Segoe UI", Geneva, Tahoma, sans-serif;
}
.dark{
    background-color: #2d3941 !important;
    color: rgba(245, 245, 245, 0.649) !important;
}
.darker{
    background-color: #0a1115 !important;
    color: whitesmoke !important;
    /* color: whitesmoke !important; */
}
.darkeres{
    background: linear-gradient(135deg, #0a1115, #1c1f23, #33363a) !important;
}
.messageBoxDark{
    background-color: #054113 !important;

}
.messageOtherBoxDark{
    background-color: #1f2721 !important;

}
.main-container{
    background-color: #f4f5f8;
    height: 90vh;
    width: 90vw;
    display: flex;
    border-radius: 20px;
    
}
.sidebar-container{
    
    flex:0.3;
    display: flex;
    flex-direction: column;
}
.workarea-container{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-color: aliceblue;
    flex:0.7;
}
.chatArea-container{
    
    border-color: aliceblue;
    flex:0.7;
    display: flex;
    flex-direction: column;
}
.sb-header{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.sb-search{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px;
    margin: 10px;
    display: flex;
    

}
.searchbox{
    
    outline-width: 0px;
    border: none;
    font-size: 1.25rem;
    margin-left: 10px;
    flex: 0.7;
}
.sb-conversations{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
   
    background-color: white;
    border-radius: 20px;
    padding: 10px 5px;
    margin: 10px;
    flex: 1;

}
.conversation-container{
    
    display:grid;
    grid-template-columns: 32px auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
}


.con-icon {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: center;
    grid-area: 1 / 1 / 3 / 2;
    align-items: center;
    background-color: #d9d9d9;
    font-size: 1.5rem; 
    font-family: "Segoe UI", Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: white;
    height: 32px;
    width: 32px;
    padding: 2px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
}

.con-title {
    
    grid-area: 1 / 2 / 2 / 4;
    font-family: "Segoe UI", Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.con-lastMessage {

    grid-area: 2 / 2 / 3 / 3;
    justify-self: start;
    font-family: "Segoe UI", Geneva, Tahoma, sans-serif;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.54);
}

.con-timeStamp {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: end;
    align-self: center;
    font-family: "Segoe UI", Geneva, Tahoma, sans-serif;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.54);
}

.chatArea-header{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 20px;
}
.header-text{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex: 1;
}

.con-timeStamp2{
    grid-area: 1 / 3 / 2 / 4;
    justify-self: start;
   
    font-family: "Segoe UI", Geneva, Tahoma, sans-serif;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.54);
}

.message-container{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    flex:1;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 20px;
    overflow: scroll;
}
.text-input-area{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
.self-message-container{
    
    display: flex;
    justify-content: flex-end;
}
.messageBox{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    background-color: #63d7b0;
    width: max-content;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 20px;
    font-family: "Segoe UI", Geneva, Tahoma, sans-serif;
}
.self-timeStamp{
    align-self: flex-end;
    font-size: 0.75rem;
    font-weight: lighter;
}


.other-message-container{
    
    display: flex;
    justify-content: flex-start;

}
.other-message-box{
    
    display: flex;
    flex-direction: row;
}
.other-text-content{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    width: max-content;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 20px;
    font-family: "Segoe UI", Geneva, Tahoma, sans-serif;
}
.other-message-con-name{
    
    color: rgb(226, 19, 19);
}
.welcom-container{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-color: aliceblue;
    flex:0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    font-family: "Segoe UI", Geneva, Tahoma, sans-serif;
    border-bottom:5px solid #63d7b0;
    border-radius: 20px;
    align-items: center;
}
.welcom-logo{
    
    width: 30%;
}

.createGroup-container{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    flex:0.7;
    align-self: center;
    padding: 20px 10px;
    margin:10px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
.createGroup-input-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.login-container{
    
    height: 90vh;
    width: 90vw;
    background-color: #f4f5f8;
    border-radius: 20px;
    display: flex;
    
}
.image-container{

    flex:0.3;
    display: flex;
    justify-content: center;
    align-items: center;

}
.login-box{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    flex:0.7;
    background-color: white;
    border-radius: 20px;
    margin:10px;
    font-family: "Segoe UI", Geneva, Tahoma, sans-serif;
    color: #21aa6c;
    font-weight: bolder;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 2vw;
}
.list-container{
    flex:0.7;
    display: flex;
    flex-direction: column;
}
.ug-header{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: white;
    border-radius: 20px;
    padding: 12px 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    
}
.ug-title{
    
    color: black;
    margin-left:10px;
   
    font-weight: bolder;
    background-clip: text;
   
   
    
    font-size: 2vw;
     
}
.ug-list{
    
    flex:1;
    overflow:scroll;
    scrollbar-width: none;
    padding: 10px;
}
.ug-list::-webkit-scrollbar{
    display: none;
}
.list-tem{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding:10px 5px;
    margin:10px;
    transition-duration: 0.1s;
    gap: 5px;
   
}
.vertical-flex{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    max-width: 400px;
    width: 400px;
}
.error-login{
    font-size: 15px;
    color: red;

}
.createGroup-container-choose-member{
    flex:0.7;
    
    border-radius: 20px;
   

}
.selected-user{
    background-color: #0f5514 !important;
}
.darkselected-user{
    background-color: #161d22 !important;
}


@media only screen and (max-width:40em){
    .sb-search{
        display:none;
    }
    .sb-conversations{
        display: none;
    }
    .sb-header{
        flex-direction: column;
        flex:1;
        width:min-content;
    }
    .chatArea-container{
        flex:0.9;

    }
    .list-container{
        flex:0.9;
    }
    .chatArea-container{
        flex:1;
    }
    .sidebar-container{
        flex:0;
    }
    .main-container{
        height: 100vh;
        width: 100vw;
    }
    

}









.clr1 {
    background-color: rgb(101, 8, 8); /* dark red */
}

.clr2 {
    background-color: rgb(20, 142, 20); /* green */
}

.clr3 {
    background-color: #00f; /* blue */
}

.clr4 {
    background-color: rgb(165, 165, 7); /* yellow */
}

.clr5 {
    background-color: #0ff; /* cyan */
}

.clr6 {
    background-color: #f0f; /* magenta */
}

.clr7 {
    background-color: #888; /* grey */
}

.clr8 {
    background-color: rgb(77, 15, 105); /* dark purple */
}

.clr9 {
    background-color: rgb(173, 48, 48); /* crimson */
}

.clr10 {
    background-color: rgb(0, 128, 128); /* teal */
}

.clr11 {
    background-color: rgb(0, 153, 0); /* dark green */
}

.clr12 {
    background-color: rgb(255, 153, 0); /* orange */
}

.clr13 {
    background-color: rgb(51, 51, 255); /* royal blue */
}

.clr14 {
    background-color: rgb(255, 0, 255); /* fuchsia */
}

.clr15 {
    background-color: rgb(255, 102, 102); /* light coral */
}

.clr16 {
    background-color: rgb(153, 204, 255); /* light blue */
}

.clr17 {
    background-color: rgb(0, 204, 153); /* sea green */
}

.clr18 {
    background-color: rgb(204, 0, 204); /* violet */
}

.clr19 {
    background-color: rgb(255, 102, 0); /* dark orange */
}

.clr20 {
    background-color: rgb(255, 204, 204); /* light pink */
}

.clr21 {
    background-color: rgb(128, 128, 0); /* olive */
}

.clr22 {
    background-color: rgb(102, 102, 0); /* dark olive */
}

.clr23 {
    background-color: rgb(255, 153, 153); /* light salmon */
}

.clr24 {
    background-color: rgb(0, 255, 204); /* turquoise */
}

.clr25 {
    background-color: rgb(204, 102, 255); /* lavender */
}

.clr26 {
    background-color: rgb(204, 255, 204); /* pale green */
}

.clr27 {
    background-color: rgb(0, 102, 204); /* deep sky blue */
}

.clr28 {
    background-color: rgb(255, 204, 153); /* peach */
}

.clr29 {
    background-color: rgb(0, 51, 0); /* dark green */
}

.clr30 {
    background-color: rgb(153, 51, 102); /* plum */
}


